@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFC0CB;
  --primary-dark: #FF69B4;
  --background: #FFF5F7;
}

@layer base {
  body {
    @apply bg-[#FFF5F7];
  }
  
  h1, h2, h3 {
    @apply font-libre-baskerville;
  }
}

.logo {
  @apply font-caveat;
}

.nav-link {
  @apply hover:text-pink-700 transition-colors duration-300;
}
